main {
  display: grid;
  row-gap: 5vh;
}

main > section {
  display: grid;
  row-gap: 2vh;
}

#enter_room_button {
  place-self: center;
}

#avatar_selector_button:focus,
#nickname_name_input:focus {
  border-style: dashed;
}
