footer {
  text-align: right;
  padding-bottom: 1ch;
  padding-right: 1ch;
}

footer > p {
  margin-bottom: 0;
  font-style: italic;
  font-size: small;
}

footer > p > span > img {
  border: none;
  margin-left: 0.5ch;
  vertical-align: text-bottom;
}

footer > p > a,
footer > p > a:visited {
  color: var(--secondary);
  background-image: none;
}
